header{
  background-color: black;
  color : white;
}
h2.headertekst {
  text-align: center;
  margin-bottom: 0;
}
nav {
  padding: 10px;
  margin-top : -5px;
  background-color: lightblue;
  color : rgb(146, 41, 94);
}
h1{
  background-color: black;
  color: white;
  margin: 0px;
}

h3{
  border-radius:15px;
  padding:10px;
  background-color: darkblue;
  color: white;
}


footer{
  color: white;
  background-color: black;
  padding :10px;
  border: 1px solid black;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}


a{
  color: rgb(106, 109, 117);
}

main{
  margin:30px;
}

form{
  margin:20px;
}
.borderimg {
  /* border-image: url(border.png) 30 round; */
  margin: auto;
  border-radius: 50%;
}
.photo {
  text-align: center; /*for centering images inside*/
}
.photo img {
  width: 300px; /*set the width or max-width*/
  height: auto; /*this makes sure to maintain the aspect ratio*/
}

.helloworld{
  background-color:firebrick;
  color: white;
}
#interests{
  background-color: gainsboro;
  color: black;
}
#places{
  background-color: lightcoral;
  color:white;
}

thead{
  background-color: firebrick;
  color: white;
}
tfoot{
  background-color: black;
  color: white;
}

header {
  background-color: firebrick;
  color: white;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}

table {
  width: 70%;
  background-color: white;
}
th{
  background-color: rgb(192, 117, 117);
}
table, th, td {
  border: 1px solid black;
  text-align: center;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}