header{
  background-color: black;
  color : white;
}
nav {
  padding: 10px;
  margin-top : -5px;
  background-color: lightblue;
  color : rgb(146, 41, 94);
}
h1{
  background-color: black;
  color: white;
  margin: 0px;
}

h3{
  border-radius:15px;
  padding:10px;
  background-color: darkblue;
  color: white;
}


footer{
  color: white;
  background-color: black;
  padding :10px;
  border: 1px solid black;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}


a{
  color: rgb(106, 109, 117);
}

main{
  margin:30px;
}

form{
  margin:20px;
}
.borderimg {
  /* border-image: url(border.png) 30 round; */
  margin: auto;
  border-radius: 50%;
}

.helloworld{
  background-color:firebrick;
  color: white;
}
#interests{
  background-color: gainsboro;
  color: black;
}
#places{
  background-color: lightcoral;
  color:white;
}

thead{
  background-color: firebrick;
  color: white;
}
tfoot{
  background-color: black;
  color: white;
}

header {
  background-color: firebrick;
  color: white;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}