  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Referee Status</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>


  </head>
  <header>
		<div class="container">
			<h1>Indiana Referees</span></h1>
		</div>
	</header>

  <body>
    <nav class="mynav">


      <div class="collapse navbar-collapse" id="MyMenu">
        <ul class="nav navbar-nav">
        <li><a href = "index.html">Home</a></li>
        <li><a href = "assign.html">Assign</a></li>
        <li><a href ="game.html">Game</a></li>

        </ul>
      </div>
    </nav>


    <section>
      <h2>Referee Lists</h2>
        <div>
          <table id="taskTable" class="table">
            <thead>
              <tr>
                <th scope="col">Member ID</th>
                <th scope="col">Name</th>


              </tr>
            </thead>
            <tbody>
              <tr class="Referee" v-for="referee in Referee">
                <td>{{ referee.Member_ID }}</td>
                <td>{{ referee.First_Name }} {{ referee.Last_Name }}</td>

              </tr>
            </tbody>
          </table>
          <a href="details.html" class="btn btn-info" role="button">Referee Details</a>
        </div>
    </section>

    <section>
      <h2>Add Referee</h2>
      <form v-on:submit.prevent="addNewReferee()">
        <div class="form-group">
          <label for="First_Name">First:</label> &nbsp;
            <input type="text" id="First_Name" v-model="newRef.First_Name">
          </div>
          <div class="form-group">
            <label for="Last_Name">Last:</label> &nbsp;
            <input type="text" id="Last_Name" v-model="newRef.Last_Name">
          </div>
          <div class="form-group">
            <label for="Age">Age:</label> &nbsp;
            <input type="number" id="Age" v-model="newRef.Age">
          </div>
          <div class="form-group">
            <label for="Referee_Skill">Referee_Skill:</label> &nbsp;
            <input type="number" id="Referee_Skill" v-model="newRef.Referee_Skill">
          </div>
          <div class="form-group">
             <label for="Referee_Status">Referee_Status:</label> &nbsp;
             <select class="form-control" v-model="newRef.Referee_Status" id="Referee_Status">
               <option value="Assigned">Assgined</option>
               <option value="Unassigned">Unassigned</option>
              </select>
            </div>
            <button type="submit" value="Create Referee" class="btn btn-primary">Create Referee</button>
          </form>
    </section>

    <section v-if="refereeDetail">
      
                <h2>Edit Referees</h2>
                    <form v-on:submit.prevent="editReferee()">
                        <div class="form-group">
                            <label for="First_Name">First:</label> &nbsp;
                            <input type="text" id="First_Name" v-model="refereeDetail.First_Name">
                        </div>
                        <div class="form-group">
                            <label for="Last_Name">Last:</label> &nbsp;
                            <input type="text" id="Last_Name" v-model="refereeDetail.Last_Name">
                        </div>
                        <div class="form-group">
                          <label for="Age">Age:</label> &nbsp;
                          <input type="number" id="Age" v-model="refereeDetail.Age">
                      </div>
                      <div class="form-group">
                        <label for="Referee_Skill">Referee_Skill:</label> &nbsp;
                        <input type="number" id="Referee_Skill" v-model="refereeDetail.Referee_Skill">
                    </div>
                        <div class="form-group">
                            <label for="Referee_Status">Referee_Status:</label> &nbsp;
                            <select class="form-control" v-model="refereeDetail.Referee_Status" id="Referee_Status">
                            <option value="Assigned">Assgined</option>
                            <option value="Unassigned">Unassigned</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
        </section>
     


    
  </body>

  <script src="js/index.js"></script>
  <div class = "row">
    <footer> 2021 Indiana State Referee Association. All Rights Reserved.| Website Design and development by MSIS TEAM 7</footer>
    </div>
</html>