<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ISRA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

<body>
  <h1><img class="logo" src="img/fb3.png" alt="logo"/>&#160 Indiana Soccer Referees Association</h1>
  <div id="assignjs" class = "container-fluid">
    <div class = "row">
      <nav class="mynav">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#MyMenu">
          Menu
          </button>
        </div>

        <div class="collapse navbar-collapse" id="MyMenu">
            <ul class="nav navbar-nav">
                <li><a href = "index.html">Home</a></li>
                <li><a href = "referee.html">Referee Info</a></li>
                <li><a href = "game.html">Game Info</a></li>
                <li><a href = "assign.html">Assign</a></li>
                <li><a href = "reports.html">Reports</a></li>
              </ul>

      </div>
    </nav>
   <main>
    <h1>Assign Information</h1>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">RefereeID</th>	
          <th class="text-center">GameID</th>	
          <th class="text-center">Assign Status</th>         
        </tr>
      </thead>
      <tbody>
          <tr v-for="asgn in assign">
            <td>{{ asgn.refereeid }}</td> 
            <td>{{ asgn.gameid }}</td> 
            <td>{{ asgn.assign_status }}</td>
            <td>
              <button type="button" v-on:click="handleEditAssign(asgn)" class="btn btn-outline-secondary btn-primary btn-sm">Edit</button>
                        <button type="button" class="btn btn-outline-secondary btn-warning btn-sm" v-on:click="postDeleteAssign(asgn)">Delete</button>
            </td>
          </tr>

      </tbody>
    </table>
    <h1>Referee, Game and Assign Information</h1>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">Game Field</th>	
          <th class="text-center">Game Date</th>	
          <th class="text-center">Game Time</th>	
          <th class="text-center">Referee First Name</th>  
          <th class="text-center">Referee Last Name</th>       
        </tr>
      </thead>
      <tbody>
          <tr v-for="asgn in assign2">
            <td>{{ asgn.field }}</td> 
            <td>{{ asgn.gdate }}</td> 
            <td>{{ asgn.gtime }}</td>
            <td>{{ asgn.firstname }}</td>
            <td>{{ asgn.lastname }}</td>
            
            <td>
              <button type="button" v-on:click="handleEditGame(asgn)" class="btn btn-outline-secondary btn-primary btn-sm">Edit</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm btn-warning" v-on:click="postDeleteGame(asgn)">Delete</button>
            </td>
          </tr>

      </tbody>
    </table>
  
  </div>

      <header>
      Form
    </header>
    
     <h4>Input fields to be entered as a row in the table</h4><br>
     <form v-on:submit.prevent="postAssign">
      <label for="assignment_game">Choose a Game:&nbsp;&nbsp;&nbsp;</label>
      <select required v-model ="assignForm.gameid">
        
        <option v-for = "g in game" :value = "g.id">{{g.id}},{{g.field}}, {{g.gtime}}</option>
      </select> 
      <br> 
      <label for="assignment_referee">Choose a referee:&nbsp;&nbsp;&nbsp;</label>
      <select required v-model ="assignForm.refereeid">
        
        <option v-for = "r in referee" :value = "r.id">{{r.id}} - {{r.firstname}}- {{r.lastname}}</option>
      </select>
      <br> 
      <label for="assignment_refereeStatus">Choose a referee:&nbsp;&nbsp;&nbsp;</label>
      <select required v-model ="assignForm.assign_status">
        <option> unassigned</option>
        <option> assigned</option>
        <option> tentative</option>
        <option> accepted</option>
      </select> 
        <br><br><br>
        
      <button type="submit" class="btn btn-primary">{{ selectedAssign === null ? "Add " : "Edit " }} Assignment</button>
      <button type="button" class="btn btn-outline-secondary btn-warning" 
           v-if="selectedAssign"
           v-on:click="handleResetEditAssign">Cancel Edit</button><br><br><br>    
   </form>
<script src="js/assign.js"></script>
</main>

   <div class = "row">
<footer> 
Indiana Soccer Referee Association | Phone: (325)-325-3488 | 10th Street, Bloomington</footer>
    </div>
    </div>
  </body>
</html>