<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

<body>
  <div id="offerApp" class = "container-fluid">
    <div class = "row">
      <nav class="mynav">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#MyMenu">
          Menu
          </button>
        </div>

        <div class="collapse navbar-collapse" id="MyMenu">
          <ul class="nav navbar-nav">
          <li><a href = "index.html">Home</a></li>
          <li><a href = "profile.html">User Info</a></li>
          <li><a href ="books.html">Books</a></li>

        </ul>
      </div>
    </nav>
   <main>
    <h1>Books</h1>
    <table id="bookTable" class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">Title</th>	
          <th class="text-center">Author</th>	
          <th class="text-center">Year_Published</th>
          <th class="text-center">Publisher</th>
          <th class="text-center">Page_Count</th>
          <th class="text-center">MSRP</th>
          
        </tr>
      </thead>
      <tbody>
          <tr v-for="book in books">
            <td>{{ book.Title }}</td> 
            <td>{{ book.Author }}</td> 
            <td>{{ book.Year_Published }}</td> 
            <td>{{ book.Publisher }}</td> 
            <td>{{ book.Page_Count }}</td> 
            <td>{{ book.MSRP }}</td>
            <td>
              <button type="button" v-on:click="handleEditBooks(book)" class="btn btn-outline-secondary btn-sm">Edit</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="postDeleteBook(book)">Delete</button>
            </td>
          </tr>

      </tbody>
    </table>
  
  </div>
  <script src="js/tablesort.min.js"></script>
  <script>
    new Tablesort(document.getElementById('bookTable'));
  </script>


      <header>
      Form
    </header>
    
     <h4>Input fields to be entered as a row in the table</h4><br>
    <!-- Title,Author,Year Published,Publisher,Page Count,MSRP -->
  <form v-on:submit.prevent="postNewBook">
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" v-model="booksForm.Title" class="form-control" id="title" placeholder="Enter Title"><br>
    <label for="author">Author</label>
    <input type="text" v-model="booksForm.Author" class="form-control" id="author" placeholder="Enter Author"><br>
    <label for="year">Year Published</label>
    <input type="text" v-model="booksForm.Year_Published" class="form-control" id="year" placeholder="Enter Year"><br>
    <label for="year">Publisher</label>
    <input type="text" v-model="booksForm.Publisher" class="form-control" id="publisher" placeholder="Enter Publisher"><br>
    <label for="year">Page Count</label>
    <input type="text" v-model="booksForm.Page_Count" class="form-control" id="pagecount" placeholder="Enter Page Count"><br>
    <label for="year">MSRP</label>
    <input type="text" v-model="booksForm.MSRP" class="form-control" id="msrp" placeholder="Enter MSRP">
  </div>
  <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add " : "Edit " }} Book</button>
  <button type="button" class="btn btn-outline-secondary" 
     v-if="selectedBook"
     v-on:click="handleResetEditBook">Cancel Edit</button><br><br><br>
</form>
<script src="js/index.js"></script>
</main>

   <div class = "row">
<footer> 
Cassandra Hale | Phone: (325)-325-3488 | 7797 Lovers Ln</footer>
    </div>
    </div>
  </body>
</html>