<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ISRA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

<body id="refereejs">
  <h1><img class="logo" src="img/fb3.png" alt="logo"/>&#160 Indiana Soccer Referees Association</h1>
  <div id="offerApp" class = "container-fluid">
    <div class = "row">
      <nav class="mynav">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#MyMenu">
          Menu
          </button>
        </div>

        <div class="collapse navbar-collapse" id="MyMenu">
            <ul class="nav navbar-nav">
                <li><a href = "index.html">Home</a></li>
                <li><a href = "referee.html">Referee Info</a></li>
                <li><a href = "game.html">Game Info</a></li>
                <li><a href = "assign.html">Assign</a></li>
              </ul>

      </div>
    </nav>
   <main>
    <h1>Referee Information</h1>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">First Name</th>	
          <th class="text-center">Last Name</th>	
          <th class="text-center">Grade</th>
          <th class="text-center">Age</th>
          <th class="text-center">Skill</th>
          <th class="text-center">Status</th>
          
        </tr>
      </thead>
      <tbody>
          <tr v-for="rf in referee">
            <td>{{ rf.firstname }}</td> 
            <td>{{ rf.lastname }}</td> 
            <td>{{ rf.grade }}</td> 
            <td>{{ rf.age }}</td> 
            <td>{{ rf.skill }}</td> 
            <td>{{ rf.rstatus}}</td>
            <td>
              <button type="button" v-on:click="handleEditReferee(rf)" class="btn btn-primary btn-sm">Edit</button>
                        <button type="button" class="btn btn-warning  btn-sm" v-on:click="postDeleteReferee(rf)">Delete</button>
            </td>
          </tr>

      </tbody>
    </table>
  
  </div>

      <header>
      Form
    </header>
    
     <h4>Input fields to be entered as a row in the table</h4><br>
  <form v-on:submit.prevent="postReferee">
    <div class="form-group">
    <label for="title">Fisrt Name</label>
    <input type="text" v-model="refereeForm.firstname" class="form-control" id="title" placeholder="Enter First Name"><br>
    <label for="author">Last Name</label>
    <input type="text" v-model="refereeForm.lastname" class="form-control" id="author" placeholder="Enter Last Name"><br>
    <label for="year">Grade</label>
    <input type="text" v-model="refereeForm.grade" class="form-control" id="year" placeholder="Enter Grade"><br>
    <label for="year">Age</label>
    <input type="text" v-model="refereeForm.age" class="form-control" id="publisher" placeholder="Enter Age"><br>
    <label for="year">Skill</label>
    <input type="text" v-model="refereeForm.skill" class="form-control" id="pagecount" placeholder="Enter Skill"><br>
    <label for="year">Status</label>
    <input type="text" v-model="refereeForm.rstatus" class="form-control" id="msrp" placeholder="Enter Status">
  </div>
  <button type="submit" class="btn btn-primary">{{ selectedReferee === null ? "Add " : "Edit " }} Referee</button>
  <button type="button" class="btn btn-outline-secondary" 
     v-if="selectedReferee"
     v-on:click="handleResetEditReferee">Cancel Edit</button><br><br><br>
</form>
<script src="js/index.js"></script>
</main>

   <div class = "row">
<footer> 
Indiana Soccer Referee Association | Phone: (325)-325-3488 | 10th Street, Bloomington</footer>
    </div>
    </div>
  </body>
</html>